# Blacklist the Cmake Build Objects
build/*

# Whitelist the install plug-ins directory
!build/install/
build/install/*
!build/install/plug-ins/
build/install/plug-ins/*
!build/install/plug-ins/activatorNode.mll
test.log
